.container {
  background-color: rgb(243, 202, 106);
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-transform: capitalize;
}
.container .head-text h1 {
  text-align: center;
  padding: 3rem 0;
}
.container .todo-ctr {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .todo-ctr .todo-header {
  background-color: rgb(2, 2, 2);
  min-height: 8rem;
  min-width: 50rem;
  padding: 0 1rem;
}

.detail_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* height: 10rem; */
}
.detail_box h2 {
  margin-top: 1rem;
}
.detail_box input {
  border: none;
  outline: auto;
  outline-color: red;
  width: 15rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.detail_box button {
  cursor: pointer;
  background-color: orange;
  border-radius: 0.5rem;
  font-weight: bold;
  padding: 0.5rem;
  margin-top: 3rem;
}
.task_ctr {
  background-color: rgb(2, 2, 2);
  color: white;
  min-height: 8rem;
  min-width: 50rem;
  padding: 0 1rem;
}
.task_box {
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* text-align: center; */
}
.task_ctr .task_bxlft {
  position: relative;
}
.task_ctr .task_bxlft h3 {
  color: orange;
  font-size: 2rem;
  line-height: 1.5;
}
.task_box .task_bxrht button {
  cursor: pointer;
  padding: 0.5rem;
  margin-right: 1rem;
  color: red;
  background-color: white;
  font-weight: bold;
}
.task_box .task_bxrht .complete {
  color: green;
}
.task_bxlft h3 hr {
  position: absolute;
  width: 7rem;
  top: 1.4rem;
}
