.home_ctr{
    /* display: flex;
    align-items: center;
    justify-content: center; */
  min-height: 50rem;
   /* text-align: center; */
   /* font-size: 3rem; */
   
}
.top_ctr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_ctr .left_bx{
    height: 45rem;
    flex: 1;
    /* border: 1px solid red; */
}
.top_ctr .left_bx img{
    height: 40rem;
    object-fit: cover;
}
.top_ctr .right_bx{
    height: 40rem;
    flex: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   
}
.top_ctr .right_bx .content{
    width: 40rem;
    text-align: left;
}
.top_ctr .right_bx .content .button{
margin-top: 2rem;
padding: .7rem 2rem;
background-color: blueviolet;
color: white;
}
.top_ctr .right_bx .content h1{
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4rem;
    font-weight: 700;
    text-align: start;
    line-height: 1.3;
}
.blog_ctr{
    display: flex;
    justify-content: space-around;
    margin: 3rem;
    flex-wrap: wrap;
    gap: 1rem;
}


/* Bootstrap */
.card-group{
    gap: 2rem;
    overflow: hidden;
   justify-content: space-around;
   flex-wrap: wrap;
    
}
.btn-primary{
    background-color: blueviolet;
    border: none;
}
/* .card-group img{
    width: 20rem;
    object-fit: cover;
    height: 20rem;
    border: 2px solid red;
}
.card-group>.card {
    display: flex;
    flex-direction: row;
    flex: none;
    margin-bottom: 0;
    width: 80rem;
}
.card-body {
    display: flex;
} */